<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ titles.4.title }} </title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!--Header-->
    {{> header4 }}
    <!--/Header-->

    <section id="page-header" class="about-header" >
        <h2>#KnowUs</h2>
        <p>Lorem ipsum dolor sit amet consectetur. </p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="../img/about/a6.jpg" alt="">
        <div>
            <h2>Who We Are?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ea quaerat beatae vitae natus.
                Sunt eveniet quidem beatae repudiandae, similique officiis atque enim corrupti autem ipsa porro 
                nemo soluta veritatis, quisquam dignissimos fugit blanditiis inventore maiores eaque natus sed illum. Eos quo esse voluptates. Excepturi sit dolores velit unde tempore molestias ratione asperiores. Nostrum dolor maxime sequi recusandae ipsam consequuntur.
            </p>
            <abbr title="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, ipsum?</abbr><br/><br/>
            <marquee bgcolor="#000" loop="-1" scrollamount="5" width="100%">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, culpa.</marquee>
        </div>
    </section>

    <section id="about-vid" class="section-p1">
        <h1>Video <a href="#">Here</a></h1>
        <div class="video">
            <video autoplay muted loop src="../img/about/1.mp4"></video>
        </div>
    </section>

    {{> newsletter }}

    {{> footer }}

</body>
</html>