@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

/* global normal button */
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s ease;
}

body{
    width: 100%;
}

/* Header inicio */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: linear-gradient(to right, #128bdb, #47d2f5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header .logo{
    width: 180px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar i{
    font-size: 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, #navbar li a.active{
    color: #ffffff;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/* Home */
#hero{
    background-image: url("/img/w2.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 0% right 0;
    display: flex;
    padding: 0 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: skewY(-3deg);
    transform-origin: top left;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #128bdb;
}

#hero button{
    background-image: url("/img/button1.png");
    background-color: transparent;
    color: #128bdb;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: 0.3s ease;
}

#hero button:hover{
    background-image: url("/img/button1-hover.png");
    color: #fff;
}

#product1{
    text-align: center;

}

#product1 .prod-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .prod{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .prod:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#product1 .prod img{
    width: 100%;
    border-radius: 20px;
}

#product1 .prod .descr{
    text-align: start;
    padding: 10px 0;
}

#product1 .prod .descr span{
    color: #606063;
    font-size: 12px;
}

#product1 .prod .descr h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .prod .descr i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .prod .descr h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .prod .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #cdf5d3;
    color: #088178;
    border: 1px solid #b8d1bc;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#banner button:hover{
    background-color: #128bdb;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/img/banner/bn5.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 5px;
}

#sm-banner .banner-box2{
    background-image: url("/img/banner/bn1.jpg");
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box button{
    border-radius: 5px;
}

#sm-banner .banner-box button:hover{
    background-color: #128bdb;
    border: 1px solid #128bdb;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/img/banner/bn7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#banner3 .banner-box2{
    background-image: url("/img/banner/bn8.jpg");
}

#banner3 .banner-box3{
    background-image: url("/img/banner/bn6.jpg");
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #f36100;
    font-weight: 800;
    font-size: 15px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("/img/banner/1.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd21;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: 0.4s ease;
}

#newsletter button:hover{
    background-color: #128bdb;
}

/* FOOTER */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
    width: 140px;

}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .social{
    margin-top: 20px;
}

footer .social i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    font-size: 30px;
}

footer .install img{
    border: 1px solid #128bdb;
    border-radius: 6px;
}

footer .social i:hover,
footer a:hover{
    color: #128bdb;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/* pages */

/* SHOP */

#page-header{
    background-image: url("/img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #fff;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/*END SHOP*/

/* Single Products Page */
#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

#prodetails .single-pro-image img{
    border-radius: 15px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
    border-radius: 15px;
}

.small-img-col img{
    border-radius: 15px;
    width: 100%;
}

.small-img-col:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

#prodetails .single-prod-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-prod-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-prod-details h2{
    font-size: 26px;
}
#prodetails .single-prod-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-prod-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-prod-details input:focus{
    outline: none;
}

#prodetails .single-prod-details button{
    background-color: #088178;
    color: #fff;
}

#prodetails .single-prod-details button:hover{
    background-color: #128bdb;
}

#prodetails .single-prod-details span{
    line-height: 25px;
}

/* END SINGLE-PRODUCTS */

/* BLOG PAGE*/

#page-header.blog-header{
    background-image: url("/img/banner/b19.jpg");
    background-position: top 10% right 30%;
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
    transition: 0.3s;
}

#blog .blog-details a:hover{
    color: #088178;
}

#blog .blog-details a:hover:after{
    background-color: #088178;
}

#blog .blog-box h1{
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

/*END BLOG PAGE*/

/*About-us*/

#page-header.about-header{
    background-image: url("/img/about/banner.png");
    background-position: top 30% right 30%;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
    border-radius: 15px;
}

#about-head div{
    padding-left: 40px;
    width: 50%;
}

#about-head div marquee{
    color: #fff;
}

#about-vid{
    text-align: center;
}

#about-vid .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-vid .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*end about-us*/

/*START CONTACT PAGE*/

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span{
    font-size: 12px;
}

#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 25px;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input, 
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

#form-details form button{
    background-color: #088178;
    color: #fff;
    transition: 0.3s;
}

#form-details form button:hover{
    background-color: #128bdb;
}

#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
    color: #e1e1e1;
}

#form-details form span{
    font-size: 12px;
    color: #e1e1e1;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details  .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details  .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
    color: #e1e1e1;
}

#form-details  .people div span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #e1e1e1;
}

/*END CONTACT-PAGE*/

/*Cart*/

#cart{
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
    border-radius: 10px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#coupon{
    width: 50%;
    margin-bottom: 30px;
}


#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 10px 20px;
    transition: 0.3s ease;
}

#coupon button:hover{
    background-color: #128bdb;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

#subtotal button:hover{
    background-color: #128bdb;
}

/*End Cart*/

/* LOGIN START */

#log-in{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #47d2f5, #128bdb);
}

.box{
    position: relative;
}

.box .square{
    position: absolute;
    backdrop-filter: blur(0.3125rem);
    box-shadow: 0 1.5625rem 2.8125rem rgba(0,0,0,0.1);
    border: 0.0625rem solid rgba(255,255,255,0.5);
    border-right: 0.0625rem solid rgba(255,255,255,0.2);
    border-bottom: 0.0625rem solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.1);
    border-radius: 0.625rem;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate{
    0%,100%{
        transform: translateY(-2.5rem);
    }
    50%{
        transform: translateY(2.5rem);
    }
}

.box .square:nth-child(1){
    top: -3.125rem;
    right: -3.75rem;
    width: 6.25rem;
    height: 6.25rem;
}

.box .square:nth-child(2){
    top: 9.375rem;
    left: -6.25rem;
    width: 7.5rem;
    height: 7.5rem;
    z-index: 2;
}

.box .square:nth-child(3){
    bottom: 3.125rem;
    right: -3.75rem;
    width: 5rem;
    height: 5rem;
}

.box .square:nth-child(4){
    bottom: -5rem;
    left: 6.25rem;
    width: 3.125rem;
    height: 3.125rem;
}

.box .square:nth-child(5){
    top: -5rem;
    left: 8.75rem;
    width: 3.75rem;
    height: 3.75rem;
}

.container{
    position: relative;
    width: 25rem;
    min-height: 25rem;
    background: rgba(255,255,255,0.1);
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.3125rem);
    box-shadow: 0 1.5625rem 2.8125rem rgba(0,0,0,0.1);
    border: 0.0625rem solid rgba(255,255,255,0.5);
    border-right: 0.0625rem solid rgba(255,255,255,0.2);
    border-bottom: 0.0625rem solid rgba(255,255,255,0.2);
}

.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
}

.form h2{
    position: relative;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.0625rem;
    margin-bottom: 2.5rem;
}

.form h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5rem;
    height: 0.25rem;
    background: #000;
}

.form .inputBox{
    width: 100%;
    margin-top: 1.25rem;
}

.form .inputBox input{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 0.625rem 1.25rem;
    border-radius: 2.1875rem;
    border: 0.0625rem solid rgba(255,255,255,0.5);
    border-right: 0.0625rem solid rgba(255,255,255,0.2);
    border-bottom: 0.0625rem solid rgba(255,255,255,0.2);
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    color: #000;
    box-shadow: 0 0.3125rem 0.9375rem rgba(0,0,0,0.05);
}

.form .inputBox input::placeholder{
    color: #606063;
}

.form .inputBox input[type="submit"]{
    color: #fff;
    background-color: #000;
    max-width: 6.25rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
    transition: 0.3s ease;
    cursor: pointer;
}

.form .inputBox input[type="submit"]:hover{
    color: #000;
    background-color: #fff;
}

.forget{
    margin-top: 0.3125rem;
    color: #000;
}

.forget a{
    color: #fff;
    font-weight: bold;
}


/* LOGIN END */

/* Responsive media */

@media (max-width: 850px) {
    .section-p1{
        padding: 40px 40px;
    }

    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #191919;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar li a{
        color: #fff;
    }

    #navbar.active{
        right: 0;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #navbar li a:hover, #navbar li a.active{
        color: #128bdb;
    }
    
    #navbar li a.active::after,
    #navbar li a:hover::after{
        background: #128bdb;
        
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #fff;
        font-size: 21px;
    }

    #lg-bag{
        display: none;
    }

    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #product1 .prod-container{
        justify-content: center;
    }

    #product1 .prod{
        margin: 15px;
    }

    #banner{
        height: 20vh;
    }

    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
        margin-bottom: 15px;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box{
        width: 28%;
    }

    #newsletter .form{
        width: 70%;
    }

    /*CONTACT PAGE*/

    #form-details{
        padding: 40px;
    }

    #form-details form{
        width: 50%;
    }

}

@media (max-width: 477px){
    .section-p1{
        padding: 20px;
    }

    #header{
        padding: 10px 30px;
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 32px;
    }

    #hero{
        padding: 0 20px;
        background-position: 55%;
    }

    #product1 .prod{
        width: 100%;
    }

    #banner{
        height: 40vh;
    }

    #sm-banner .banner-box{
        height: 40vh;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box{
        width: 100%;
    }

    #newsletter{
        padding: 40px 20px;
    }

    #newsletter .form{
        width: 100%;
    }

    /*single products*/
    #prodetails{
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0;
    }

    #prodetails .single-prod-details{
        width: 100%;
    }

    /*end single-products*/

    /*Blog*/

    #blog{
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details{
        width: 100%;
    }

    /*end blog-page*/

    /* Start About page */

    #about-head{
        flex-direction: column;
    }

    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div{
        padding-left: 0px;
        width: 100%;
    }

    #about-vid .video{
        width: 100%;
    }

    /*End About Page*/

    /*CONTACT - PAGE*/

    #contact-details{
        flex-direction: column;
    }

    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map{
        width: 100%;
    }

    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    } 

    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }

    /*END CONTACT PAGE*/

    /*CART*/

    #cart-add{
        flex-direction: column;
    }

    #coupon{
        width: 100%;
    }

    #subtotal{
        width: 100%;
        padding: 20px;
    }

    /*END CART*/

}